.hero
  padding: 51px 0
  background: $main-background-color
  &-block
    display: flex
    justify-content: space-between
  &-image 
    display: flex
    
  &-text
    flex-basis: 50%
    &__titele
      font-size: 41px
      line-height: 55px
      font-family: 'Museo Sans Bold', sans-serif
      margin-bottom: 20px
      margin-top: 25px
    &__subtitele
      display: inline-block
      font-size: 20px
      line-height: 65px
      font-family: 'Museo Sans Bold', sans-serif
      font-weight: 600
  &-list
    margin: 0
    padding: 0
    margin-top: 49px
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
      &:last-chaild
        margin-bottom: 0
    &__image
      margin-right: 30px
      width: 47px
      height: 40px
     
    &__text
      flex-basis: 50%
  &__photo
    margin: 0
    
@media (max-width: 1200px)
  .hero
    &-text
      margin: auto
      width: 500px
    &-block
      flex-direction: column
    &__list
      margin-bottom: 44px
    &__text
      padding-right: 0
    &-image
      justify-content: center
    
    

@media (max-width: 768px)  
  .hero
    &-text
      max-width: 385px
      &__titele 
        margin: 0
        // max-width: 370px
        font-size: 24px
        line-height: 36px
        font-family: 'Museo Sans Bold', sans-serif
        margin-bottom: 15px
      &__subtitele
        font-size: 16px  
        max-width: 270px
        line-height: 1.4
    &-image
      display: block
    &__photo
      margin: auto   
    &-list
      margin-top: 28px
      &__item
        margin-bottom: 20px
      &__text
        font-size:  12px
      &__image
        margin-right: 15px
        width: 47px
        height: 40px
        max-width: 560px
        max-height: 480px
      
// @media (max-width: 500px)   
//   .hero
//     padding-top: 0
//     &-text
//       max-width: 400px
//       flex-basis: 100%
//       margin: 0
//       &__titele 
//         font-size: 24px 
//         line-height: 1.4
//         margin-bottom: 3px
//         margin-top: 46px
//         max-width: 300px;
//         margin-bottom: 15px
//       &__subtitele        
//         font-size: 16px 
//         line-height: 1.4  
//         max-width: 200px  
           
//    &-list
//       margin-top: 28px
//       &__item
//         margin-bottom: 20px
//         &:last-child
//           margin-bottom: 44px
//       &__text
//         font-size:  12px
//         flex-basis: 100%
//       &__image
//         margin-right: 15px
//         width: 47px
//         height: 40px
      
@media (max-width: 380px)
  .hero
    padding-top: 0
    &-image
      width: 270px
      height: 231px 
    &-text
      width: 271px
      flex-basis: 100%
      margin: 0
      &__titele 
        font-size: 24px 
        line-height: 1.3
        margin-bottom: 3px
        margin-top: 46px
        width: 280px
      &__subtitele
        font-size: 16px 
        line-height: 1.4  
        max-width: 204px 
    &-list
      margin-top: 28px
      &__item
        margin-bottom: 20px
        &:last-child
          margin-bottom: 44px
      &__text
        font-size:  12px
        flex-basis: 100%
      &__image
        margin-right: 15px
        width: 47px
        height: 40px
      
      
      
