.hero
  padding: 51px 0
  background: $main-background-color
  &-block
    display: flex
    justify-content: space-between
  &-image 
    display: flex
  &-text
    flex-basis: 50%
    &__titele
      font-size: 41px
      line-height: 55px
      font-family: 'Museo Sans Bold', sans-serif
      margin-bottom: 20px
      margin-top: 25px
    &__subtitele
      display: inline-block
      font-size: 20px
      line-height: 65px
      font-family: 'Museo Sans Bold', sans-serif
  &-list
    margin: 0
    padding: 0
    margin-top: 49px
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
      &:last-chaild
        margin-bottom: 0
    &__image
      margin-right: 30px
    &__text
      flex-basis: 50%
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &__list
      margin-bottom: 44px
    &__text
      padding-right: 0
@media (max-width: 768px)  
  .hero
    &-text
      &__titele 
        font-size: 24px 
        line-height: 1.4
        margin-bottom: 15px
      &__subtitele
        font-size: 16px     
    &-list
      margin-top: 28px
      &__item
        margin-bottom: 20px
      &__text
        font-size:  12px
      &__image
        margin-right: 15px
@media (max-width: 600px) 
  .hero
    padding: 0
    &-image
      width: 270px
      height: 231px 
    &-text
      flex-basis: 100%
      margin: 0
      &__titele 
        font-size: 20px 
        line-height: 1.4
        margin-bottom: 15px
        margin-top: 46px
      &__subtitele
        font-size: 16px 
        line-height: 1.4    
    &-list
      margin-top: 28px
      
      &__item
        margin-bottom: 20px
      &__text
        font-size:  12px
        flex-basis: 100%
      &__image
        margin-right: 15px
@import 'animation'
.text
  animation-name: slideRight
  animation-duration: 2s
  animation-fill-mode: forwards    
      



     
      
      
      
