.portfolio
  background: $main-background-color url('../img/portfolio/portfolio-bg.jpg') repeat-y center left
  background-size: 50%
  &__titele 
    font-size: 24px
    font-family: 'Museo Sans Bold', sans-serif
    text-align: center
    max-width: 500px
    margin: auto
    margin-bottom: 100px
    padding-top: 100px
  &__arrows
    max-width: 120px
    margin: auto
    margin-top: 68px
    display: flex
    justify-content: space-between
    cursor: pointer
    padding-bottom: 100px
    &__left
      padding-right: 10px
.slider 
  &__img
    margin: auto

@media (max-width: 768px)
  .card
    &__photo
      margin: auto
