* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 250px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 18px 30px;
}

.button:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

.section-titele {
  font-weight: 700px;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-style: 16px;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  outline: none;
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 9px;
  display: inline-block;
  font-weight: 600;
  font-family: 'Museo Sans Bold', sans-serif;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 51px 0;
  background: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__titele {
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  margin-bottom: 20px;
  margin-top: 25px;
}

.hero-text__subtitele {
  display: inline-block;
  font-size: 20px;
  line-height: 65px;
  font-family: 'Museo Sans Bold', sans-serif;
}

.hero-list {
  margin: 0;
  padding: 0;
  margin-top: 49px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-chaild {
  margin-bottom: 0;
}

.hero-list__image {
  margin-right: 30px;
}

.hero-list__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__list {
    margin-bottom: 44px;
  }
  .hero__text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hero-text__titele {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitele {
    font-size: 16px;
  }
  .hero-list {
    margin-top: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 0;
  }
  .hero-image {
    width: 270px;
    height: 231px;
  }
  .hero-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .hero-text__titele {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 46px;
  }
  .hero-text__subtitele {
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-list {
    margin-top: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@-webkit-keyframes slideRight {
  form {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes slideRight {
  form {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

.text {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
  padding: 84px 0px 92px 0;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 80px;
  position: relative;
}

.offer__titele {
  max-width: 360px;
  margin-bottom: 24px;
  line-height: 35px;
  font-family: 'Proxima Nova Black';
}

.offer__subtitele {
  display: block;
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 19px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-feedback {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__feedbacktext {
  margin-right: 85px;
  width: 46%;
  font-size: 15px;
  line-height: 24px;
}

.offer__feedbacktext2 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__phone {
  margin-top: 11px;
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 380px) {
  .offer-feedback {
    display: block;
  }
  .offer__feedbacktext {
    margin-bottom: 18px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-bg.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__titele {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 100px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding-bottom: 100px;
}

.portfolio__arrows__left {
  padding-right: 10px;
}

.slider__img {
  margin: auto;
}

@media (max-width: 768px) {
  .card__photo {
    margin: auto;
  }
}

.price__titele {
  margin: auto;
  margin-bottom: 58px;
  padding-top: 100px;
}

.price__subtitele {
  display: block;
  padding-bottom: 60px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__text {
  padding: 40px;
}

.card__photo {
  display: block;
}

.card__titele {
  margin-top: 0;
}

.card__link {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .price__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 380px) {
  .price__container {
    max-width: 300px;
    width: 90%;
  }
  .price__titele {
    margin-top: 53px;
    margin-bottom: 27px;
    font-size: 18px;
    padding: 0;
  }
  .price__subtitele {
    font-size: 14px;
  }
  .card__text {
    padding: 30px;
    font-size: 14px;
  }
  .card__link {
    font-size: 16px;
  }
}

@keyframes slideRight {
  form {
    margin-left: -100px;
  }
  to {
    margin-left: 0px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
  text-align: center;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/staps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__img {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
  margin-bottom: 97px;
}

.steps__titele {
  margin: auto;
  margin-bottom: 59px;
  margin-top: 162px;
  font-size: 30px;
  max-width: 651px;
}

.steps__subtitele {
  text-align: center;
  margin-bottom: 58px;
  display: block;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps__titele {
    margin-top: 61px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .step__text {
    margin-bottom: 0;
  }
}

.brif {
  background-image: url("../img/brif/prif-bg.png"), url("../img/brif/prif-bg-2.jpg");
  background-position: left center,  center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.intrview {
  padding-right: 70px;
}

.intrview__titele {
  font-size: 22px;
  margin-bottom: 50px;
  width: 515px;
  margin-top: 106px;
}

.intrview__subtitele {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.intrview-list {
  list-style: none;
  padding: 0;
  font-weight: 600;
}

.intrview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
}

.intrview-list__counter {
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
}

.intrview-list__text {
  max-width: 400px;
  text-align: left;
}

.form__titele {
  font-size: 22px;
  margin-bottom: 50px;
  width: 515px;
  margin-top: 106px;
}

.form__subtitele {
  display: block;
  font-size: 16px;
  margin-bottom: 70px;
}

.form__description {
  display: block;
  margin-bottom: 90px;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__titele {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitele {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__titele {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitele {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/prif-bg.png"), url("../img/brif/prif-bg-2.jpg");
    background-position: top center,  center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__titele {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  width: 293px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  list-style: none;
  padding: 0;
  line-height: 1.4;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.contacts-list__phone {
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

@media (max-width: 768px) {
  .map {
    position: relative;
    width: 100%;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
    padding-left: 24px;
  }
  .contacts__titele {
    margin-top: 67px;
    font-size: 18px;
    width: 281px;
  }
  .contacts__list__text {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */